#header {
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  padding-top: 10px;
  padding-bottom:10px;
  top: 0;
  z-index: 1000;
}

/* 각 영역 */
.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-center {
  flex-grow: 1;
  justify-content: center;
  gap: 15px;
}

.header-left img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 40px;
  transition: transform 0.2s ease;
}

/* 로고 링크 스타일 */
.header-left a {
  text-decoration: none;
  cursor: pointer;
}

.header-left a:hover img {
  transform: scale(1.05);
}

/* 공통 버튼 스타일 */
#header button {
  background: none;
  color: rgb(39, 39, 39);
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
  
}

#header button:hover {
  color: #5551ff
}

#header a {
  text-decoration: none;
}

.alarm-popup {
    position: fixed;
    top: 70px; /* 헤더 아래로 살짝 떨어지게 */
    right: 0;
    width: 15%;
    height: 30vh;
    background-color: white;
    border-left: 2px solid #ccc;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }

  .alarm-popup.visible {
    opacity: 1;
    transform: translateX(0);
  }